<h1 class="page-title">Impressum</h1>
<h2>Adresse</h2>
Universität Stuttgart<br>
Keplerstraße 7<br>
70174 Stuttgart<br>
Deutschland

<table>
<tbody><tr>
	<td><strong>Tel.</strong></td>
	<td>+49 (0)711/685-0</td>
</tr>
<tr>
	<td><strong>Fax</strong></td>
	<td>+49 (0)711/685-82113</td>
</tr>
<tr>
	<td><strong>E-Mail</strong></td>
	<td><a href="mailto:%70%6F%73%74%73%74%65%6C%6C%65@%75%6E%69-%73%74%75%74%74%67%61%72%74.%64%65" title="E-Mail" class="email"></a>
	</td>
</tr>
<tr>
	<td><strong>Internet</strong></td>
	<td><a href="http://www.uni-stuttgart.de">www.uni-stuttgart.de</a></td>
</tr>
</tbody></table>

<h2>Verantwortlich</h2>
Die Universität Stuttgart ist eine Körperschaft des Öffentlichen Rechts. Sie wird durch den
<a href="http://www.uni-stuttgart.de/ueberblick/organisation/rektorat/rektor/">Rektor</a>
gesetzlich vertreten.<br>
E-Mail: &nbsp;<a href="mailto:%72%65%6B%74%6F%72@%75%6E%69-%73%74%75%74%74%67%61%72%74.%64%65" title="E-Mail" class="email"></a>

<h2>Umsatzsteuer-Identifikationsnummer</h2>
gemäß §27 a Umsatzsteuergesetz: DE 1477 94 196

<h2>Externe Links: &nbsp;<a class="external" href="" title="" alt=""></a>
</h2>
Externe Links verweisen auf weitervermittelte Inhalte,
die sich die Universität Stuttgart nicht zu eigen macht. Die Verantwortlichkeit liegt
beim jeweiligen externen Anbieter (siehe Impressum - Anbieterkennzeichnung).<br>
Sollten Sie der Ansicht sein, dass die verlinkten externen Seiten gegen geltendes Recht verstoßen oder sonst unangemessene Inhalte haben, so teilen Sie uns dies bitte mit.

<p></p>
<table>
<tbody><tr>
	<td>Erstellung</td>
	<td>Webmaster FMI</td>
</tr>
<tr>
	<td>Namenskürzel</td>
	<td>wm: Webmaster FMI</td>
</tr>
<tr>
	<td>E-Mail</td>
	<td><a href="mailto:%77%65%62%6D%61%73%74%65%72@%66%6D%69.%75%6E%69-%73%74%75%74%74%67%61%72%74.%64%65" title="mail to webmaster" class="email">&nbsp;wm</a></td>
</tr>
<tr>
	<td>Internet</td>
	<td><a href="http://www.fmi.uni-stuttgart.de">www.fmi.uni-stuttgart.de</a></td>
</tr>
</tbody></table>


</div>


<h1 class="page-title">Datenschutzerklärung</h1>
<h2>1. Verantwortlich im datenschutzrechtlichen Sinne:</h2>

<p><strong>Universität Stuttgart</strong><br>
Keplerstraße 7<br>
70174 Stuttgart<br>
Deutschland<br>
Tel: +49 711/685-0<br>
E-Mail: <a href="mailto:%70%6F%73%74%73%74%65%6C%6C%65@%75%6E%69-%73%74%75%74%74%67%61%72%74.%64%65" title="E-Mail">poststelle@uni-stuttgart.de</a></p>

<h2>2. Datenschutzbeauftragter:</h2>

<p>Universität Stuttgart<br>
Datenschutzbeauftragter<br>
Breitscheidstraße 2<br>
70174 Stuttgart<br>
Telefon: +49 711 6858 3687<br>
Fax: +49 711 685-83688<br>
E-Mail: <a href="mailto:%64%61%74%65%6E%73%63%68%75%74%7A@%75%6E%69-%73%74%75%74%74%67%61%72%74.%64%65" title="E-Mail">datenschutz@uni-stuttgart.de</a></p>

<h2>3. Allgemeines zur Datenverarbeitung:</h2>

<p>Beim Zugriff auf eine Seite aus dem Web-Angebot vom
<acronym title="Institut für Formale Methoden der Informatik" xml:lang="de" lang="de">FMI</acronym>
und beim Abruf einer Datei werden von unserem Webserver keine personenbezogenen Daten protokolliert,
insbesondere werden IP-Adressen unmittelbar nach deren Erfassen verkürzt gespeichert.</p>

<p>Nicht ausgeschlossen werden kann, dass eine Protokollierung an den aktiven Komponenten durch andere
Stellen innerhalb der Universität Stuttgart erfolgt und durch eine Zusammenführung der beim
<acronym title="Institut für Formale Methoden der Informatik" xml:lang="de" lang="de">FMI</acronym>
und diesen Stellen vorhandenen Protokollierungen ein Personenbezug hergestellt werden könnte.
Informationen zur Datenverarbeitung finden Sie sogleich auf dieser Seite unter der Überschrift
„Datenerhebung beim Aufruf von Webseiten aus dem
<acronym title="Institut für Formale Methoden der Informatik" xml:lang="de" lang="de">FMI</acronym>-Angebot“.</p>

<p>Soweit bei einzelnen Funktionen auf unseren Seiten personenbezogene Daten erhoben werden, erfolgt die
Angabe dieser Daten ausdrücklich freiwillig oder die Erhebung erfolgt auf Grundlage einer Rechtsvorschrift,
die dies erlaubt. Über die Erhebung und weitere Verwendung Ihrer Daten werden Sie an der entsprechenden
Stelle informiert.</p>

<p>Informationen zur Ihren Rechten finden Sie am Ende dieser Webseite unter der Überschrift „Ihre Rechte“.</p>

<h2>4. Datenerhebung beim Aufruf von Webseiten aus dem <acronym title="Institut für Formale Methoden der Informatik" xml:lang="de" lang="de">FMI</acronym>-Angebot:</h2>

<h3>4.1. Bereitstellung der Webseite und Erstellung von Logfiles</h3>
<h4>4.1.1. Beschreibung und Kategorien von Daten</h4>
<p>Wenn Sie Internetseiten des
<acronym title="Institut für Formale Methoden der Informatik" xml:lang="de" lang="de">FMI</acronym>
aufrufen, übermitteln Sie über Ihren Browser Daten an unseren Webserver.
Die folgenden Daten werden in einer Logdatei aufgezeichnet:</p>

<ul>
  <li>auf die ersten drei Bytes reduzierte IPv4-Adresse bzw.<br>
auf die ersten 64 Bit gekürzte IPv6-Adresse</li>
  <li>Datum und Uhrzeit des Zugriffs</li>
  <li>Name, URL und übertragene Datenmenge der abgerufenen Datei</li>
  <li>Zugriffsstatus (angeforderte Datei übertragen, nicht gefunden etc.)</li>
  <li>Browsertyp und Betriebssystem (sofern vom anfragenden Webbrowser übermittelt)</li>
  <li>Webseite, von der aus der Zugriff erfolgte (sofern vom anfragenden Webbrowser übermittelt)</li>
  <li>Suchanfragen und deren Wortlaut</li>
</ul>

<p>Da die IP- Adresse unmittelbar nach deren Erfassen verkürzt gespeichert wird, lässt sich für uns allein
aus diesen Daten kein Personenbezug herstellen. Es ist selbstverständlich, dass eine Zusammenführung
dieser Daten mit den unten genannten Daten der akiven Netzwerk-Komponenten der Universität Stuttgart
während deren kurzfristigen Speicherung nicht stattfindet, es sei denn, es liegen tatsächliche
Anhaltspunkte für eine Störung des ordnungsgemäßen Betriebs oder für eine missbräuchliche Nutzung vor.</p>

<p>Die Verarbeitung der Daten in dieser Logdatei geschieht wie folgt:</p>

<ul>
  <li>Die Logeinträge werden kontinuierlich automatisch ausgewertet, um Angriffe auf die Webserver
erkennen und entsprechend reagieren zu können.</li>
  <li>In Einzelfällen, d.h. bei gemeldeten Störungen, Fehlern und Sicherheitsvorfällen,
erfolgt eine manuelle Analyse.</li>
</ul>

<p>Außerdem werden an den aktiven Netzwerk-Komponenten der Universität Stuttgart beim Aufruf von Webseiten
Datum und Zeitstempel, IP-Adresse + Port (Quelle), IP-Adresse + Port (Ziel) sowie die Paketgröße
protokolliert.</p>

<h4>4.1.2. Zweck</h4>
<p>Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung der
Website an den Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer
der Sitzung gespeichert bleiben.</p>

<p>Die Speicherung in einer Logdatei erfolgt, um die Funktionsfähigkeit der Website sicherzustellen. Zudem
dienen uns die Daten zur Optimierung der Website und zur Sicherstellung der Sicherheit unserer
informationstechnischen Systeme. Die in den Logeinträgen enthaltenen verkürzten IP-Adressen werden nicht
mit anderen Datenbeständen zusammengeführt, es sei denn, es liegen tatsächliche Anhaltspunkte für eine
Störung des ordnungsgemäßen Betriebs vor.</p>

<p>Die Protokollierung auf aktiven Netzwerk-Komponenten dient ebenso der Sicherstellung der Sicherheit der
informationstechnischen Systeme.</p>

<p>Die Speicherung der Suchanfragen dient der Optimierung der Webseite.
Darüberhinaus werden diese im Rahmen der wissenschaftlichen Forschung genutzt.
</p>

<p>In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung nach
Art. 6 Abs. 1 lit. f DS-GVO.</p>

<h4>4.1.3. Rechtsgrundlage</h4>
<p>Art. 6 Abs. 1 lit. f DS-GVO.</p>

<h4>4.1.4. Empfänger</h4>
<p>Sofern wegen Angriffen auf unsere informationstechnischen System Ermittlungsmaßnahmen eingeleitet werden,
können die oben unter 4.1.1. genannten Daten bzw. Logdateien an staatliche Ermittlungsorgane (z.B. Polizei,
Staatsanwaltschaft) weiter gegeben werden.</p>

<p>Dasselbe gilt, wenn entsprechende Behörden und/oder Gerichte Anfragen an die Universität richten und die
Universität dazu verpflichtet ist, diesen Folge zu leisten.</p>

<h4>4.1.5. Dauer der Speicherung</h4>
<p>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich
sind. Im Falle der Erfassung der Daten zur Bereitstellung der Website ist dies der Fall, wenn die jeweilige
Sitzung beendet ist.</p>

<p>Die in den Logdateien protokollierten Daten werden nach 7 Tagen gelöscht.</p>

<p>Die protokollierten Suchanfragen werden auf unbestimmte Zeit gespeichert.</p>

<h4>4.1.6. Folgen der Nichtangabe, Widerspruchs- bzw. Beseitigungsmöglichkeit</h4>

<p>Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist für
den Betrieb der Internetseite zwingend erforderlich. Nutzer, die nicht möchten, dass ihre Daten wie
beschrieben verarbeitet werden, können die Webseiten vom
<acronym title="Institut für Formale Methoden der Informatik" xml:lang="de" lang="de">FMI</acronym>
nicht nutzen. Sie können sich über Alternativwege (telefonisch, schriftlich, persönlich) an die Universität wenden, um entsprechende Informationen zu erhalten oder Vorgänge durchzuführen.</p>

<h3>4.2. Nutzung von Cookies</h3>
<p>Beim Besuch der
<acronym title="Institut für Formale Methoden der Informatik" xml:lang="de" lang="de">FMI</acronym>-Webseiten wird kein Cookie gesetzt.</p>

<h3>4.3. Nutzung von Trackingsoftware</h3>
<p>Unsere Website verwendet keinen Webanalysedienst bzw. Tracking.</p>

<h3>4.3. Nutzung von externen Inhalte-Anbietern</h3>
<p>
Unsere Website lädt Bilder zur Anzeige vom Anbieter www.openstreetmap.org nach.
Diese werden zur Anzeige der Karte benötigt.
Die Datenschutzerklärung findet sich <a href="https://wiki.osmfoundation.org/wiki/Services_and_tile_users_privacy_FAQ" target="_blank">hier</a>.
</p>

<h2>5. Ihre Rechte</h2>

<ul>
  <li>Sie haben das Recht, von der Universität Stuttgart Auskunft über die zu Ihrer Person gespeicherten
Daten zu erhalten und/oder unrichtig gespeicherte Daten berichtigen zu lassen.</li>
  <li>Sie haben darüber hinaus das Recht auf Löschung oder auf Einschränkung der Verarbeitung oder ein
Widerspruchsrecht gegen die Verarbeitung.</li>
</ul>

<p>Bitte wenden Sie sich dazu an den Datenschutzbeauftragten der Universität Stuttgart:
<a href="mailto:%64%61%74%65%6E%73%63%68%75%74%7A@%75%6E%69-%73%74%75%74%74%67%61%72%74.%64%65" title="E-Mail">datenschutz@uni-stuttgart.de</a></p>

<ul>
  <li>Sie haben das Recht auf Beschwerde bei der Aufsichtsbehörde, wenn Sie der Ansicht sind, dass die
Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die Rechtsvorschriften verstößt.</li>
</ul>

<p>Die zuständige Aufsichtsbehörde ist der
<a class="external" href="https://www.baden-wuerttemberg.datenschutz.de/" title="Landesbeauftragter für den Datenschutz und die Informationsfreiheit Baden-Württemberg">Landesbeauftragte für den Datenschutz und die Informationsfreiheit Baden-Württemberg</a>.</p>

<h2>6. Ergänzende Informationen zu Social-Media-Elementen</h2>
<p>Auf unserer Website werden <strong>keine</strong> Social-Media-Elemente verwendet; sie besteht nur aus HTML und CSS.</p>
</div>
