html,
body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* The html and body elements cannot have any padding or margin. */
}

#map {
    height: 100%;
    /* 	z-index: -1; */
}

#content_container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
}

#search_form {
    padding-top: 5px;
    width: 90%;
    float: left;
}

#loader {
    position: fixed;
    z-index: 1000;
    top: 50%;
    right: 50%;
}

#search_text {
    display: block;
    width: 100%;
    border-color: #c0e4ff;
}

#ohf_spinner_group {
    width: fit-content;
}

#ohf_spinner {
    width: auto;
}


#flickr {
    position: fixed;
    z-index: 200;
    right: 10px;
    top: 10px;
    width: 15%;
    padding: 10px 10px 10px 10px;
    opacity: 1.0;
    border: 2px solid;
    border-radius: 10px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    display: none;
    bottom: 10px;
}

#flickr img {
    padding: 5px 5px 5px 5px;
}

#flickr_images {
    overflow-y: scroll;
    height: 90%;
}

#searchModi {
    margin-top: 5px;
    float: left;
}

#tree {
    display: none;
    background-color: rgba(255,255,255,0.7);
    z-index: 50000;
    height: 95%;
    width: 95%;
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    border-radius: 4px;
    box-shadow: 0 1px 5px #000;
}

#dag {
    height: 90%;
    width: 100%;
}

#closeTree{
    position: absolute;
    top: 5px;
    right: 15px;
    width: 10px;
}

#graph {
    margin-top: 10px;
    font-size: 1.5em;
    float: right;
}

#closeFlickr{
    float: right;
}

#flickrHead a{
    float: left;
}

#flickrHead{
    height: 25px;
}

#toolbar {
    padding: 4px;
    display: inline-block;
    margin: 5px;
}

.menu_parent {
    z-index: 100;
    overflow-y: hidden;
    overflow-x: hidden;
}

.sidebar-tabs>ul>li.active.sidebar-menu-success, .sidebar-header.sidebar-header-success {
	background-color: #5cb85c;
}

.sidebar-tabs>ul>li.active.sidebar-menu-info, .sidebar-header.sidebar-header-info {
	background-color: #5bc0de;
}

.sidebar-tabs>ul>li.active.sidebar-menu-warning, .sidebar-header.sidebar-header-warning {
	background-color: #ec971f;
}

.results-panel-title:hover {
    border-color: #003eff;
    background: #007fff;
}

.results-panel-title:hover a {
    color: white;
}

.matched-key-color {
    color: #ff0000;
}

.matched-value-color {
    color: #ff0000;
}

.name-has-matched-tag {
    color : #ff0000;
}

.panel-heading h4 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.transparent-menu {
    opacity: 0.3;
}

a .glyphicon-black {
    color: #000;
    margin-bottom: 2px;
    font-size: 1.5em;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 10px;
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

.treeNodeLink {
    color: black;
    display: block;
    margin-top: 5px;

}

g.node > rect{
    fill: #007fff;
}

.badge{
    margin-top: 7px;
    margin-right: 2px;
}

label {
    margin-bottom: 0px;
}

.result-list-key {
	width: 40%;
}

.result-list-value {
	width: 60%;
}

.break-word {
	word-wrap: break-word;
	word-break: break-all;
	overflow-wrap: break-word;
}

::-moz-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-moz-scrollbar-button:start:decrement,
::-moz-scrollbar-button:start:decrement {
	height: 0px;
	display: block;
	background-color: black;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
	height: 0px;
	display: block;
	background-color: black;
}

::-moz-scrollbar-track-piece {
	background-color: #ffffff;          /*Global Track Peice(the slider noob.)*/
	-webkit-border-radius: 6px;
}
::-webkit-scrollbar-track-piece {
	background-color: #ffffff;          /*Global Track Peice(the slider noob.)*/
	-webkit-border-radius: 6px;
}

::-moz-scrollbar-thumb:vertical {
	height: 50px;
	background-color: #ffffff;            /* Up/Down slider background*/
	-webkit-border-radius: 6px;
}    
::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color: #ccc;            /* Up/Down slider background*/
	-webkit-border-radius: 6px;
}

::-moz-scrollbar-thumb:horizontal {
	width: 50px;
	background-color: #ffffff;            /* Side/Side slider background*/
	-webkit-border-radius: 3px;
}    
::-webkit-scrollbar-thumb:horizontal {
	width: 50px;
	background-color: #ffffff;            /* Side/Side slider background*/
	-webkit-border-radius: 3px;
}